li{
    list-style:none;
    color:#fff;
}
.box{
    width:500px;
    height:350px;
    margin:100px auto;
    /* 默认情况下， webpack 无法 处理 css 文件中的 url 地址，不管是图片还是 字体库，只要是 url 地址，都处理不了 */
    background:url(../images/一样的.jpg);
    background-size:cover;
}
.box2{
    width:500px;
    height:350px;
    margin:100px auto;
    /* 默认情况下， webpack 无法 处理 css 文件中的 url 地址，不管是图片还是 字体库，只要是 url 地址，都处理不了 */
    background:url(../images2/一样的.jpg);
    background-size:cover;
}